# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user data
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.pyc
.venv/
venv/
